/*
Colors used:
Background Color (Beige): #FFF6ED;
Primary Color (Lavender): #E8E1FD;
Secondary Color (Dark Green): #194027;
Accent Color (Lime Green): #EFF483;
Accent Color 2 (Orange): #ED6B2D;
Active Button Color (Medium Green): #30804d;
*/
* {
  box-sizing: border-box;
}
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  a {
    color: #194027;
    text-decoration: none; /* No underlining */
  }
  a:hover 
  a:focus {
    color: #30804d;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  .button {
    display: inline-block; /* since the a tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #194027;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 20px;
    border-radius: 8px;
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  .button:hover{
    opacity: 0.8;
  }
  .button:focus{
    background-color:#30804d;
    text-decoration: none;
  }
  .button:visited {
    color: #ffffff;
  }
  .button.contact {
    background-color: transparent;
    color: #194027;
    padding: 20px;
    border: 2px solid #194027;
    border-radius: 8px;
  }
  .button.contact:hover {
    color: #30804d;
    border: 2px solid #30804d;
  }
/* Layout styling */
.container {
  padding: 0 15px;
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #194027;/* 25px top and bottom, 0 left and right */
}
#hero h1 {
  text-align: center; /* Centers text */
}
#hero span{
  display: block;
}
.logo {
  max-width: 150px;
  min-width: 641px
}
header {
  background-color: #FFF6ED;
  padding: 10px 0; 
  position:fixed;
  width: 100%;
	border: solid #BDBDBD 0; 
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1)  ; 
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:hover {
  color: #ED6B2D
}
#hero {
  background-color: #FFF6ED;
  padding: 20px 0;
  display:inline-block;
  width: 100%;
}
main {
  padding-top: 56px;
}
.contacticons ul {
  list-style-type: none;
  padding: 0;
}
.contacticons li{
  display:inline-block;}

  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle li:last-child {
    display: none;
  }
  .logo
  {
    max-width: 150px;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
  }
  
  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header{
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
  }
  .logo
  {
    margin-top: 8px;
    min-width: 640px;
  }
  body{
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
  }
  main{
    padding-top: 80px;
  }
  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
nav > ul {
  margin: 1em 0;
}
nav > ul > li {
  display: inline-block;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7{
    width:58.33%;
  }
  .col-lg-5{
    width: 41.66%;
  }

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Animation
================================= */
#animation{
  width: 100%;
  max-width: 100%;
  height: auto;
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun-rays {
  fill: #f76414;
  animation: rotate 5s linear infinite;
  transform-origin: 50% 50%;
  transform-box: fill-box;

}
@keyframes rotate {
  from {
    transform:rotate(0deg);
}
to {
    transform:rotate(360deg);
}
  }

